.galleryna {
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }
  .galleryna .wrapper {
    overflow: hidden; }
  .galleryna .item {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    z-index: 1;
    opacity: 0.7; }
    .galleryna .item img {
      width: 75%; }
    .galleryna .item.active {
      opacity: 1;
      z-index: 9; }
    .galleryna .item.right {
      transform: translateX(-50%) scale(0.75);
      filter: blur(5px);
      -webkit-filter: blur(5px); }
