.galleryna {
	width: 80%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;

	.wrapper {
		overflow: hidden;
	}

	.item {
		position: relative;
		float: left;
		width: 100%;
		text-align: center;
		z-index: 1;
		opacity: 0.7;

		img {
			width: 75%;
		}

		&.active {
			opacity: 1;
			z-index: 9
		}

		&.right {
			transform: translateX(-50%) scale(0.75);
			filter: blur(5px);
			-webkit-filter: blur(5px);
		}

	}
}