h1 {
	text-align: center;
	padding: 15px 0 50px;
	color: #aaa;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
}

.galleryna {
	width: 80%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;

	.wrapper {
		overflow: hidden;
		position: relative;
		/*
		position: relative;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		perspective: 0px;
		-webkit-perspective: 0px;
		*/
	}

	.item {
		position: absolute;
		float: left;
		width: 100%;
		text-align: center;
		z-index: 1;
		opacity: 0;
		transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out, filter 0.6s;

		img {
			width: 75%;
		}

		&.active {
			opacity: 1;
			z-index: 9
		}

		&.left,
		&.right {
			opacity: 0.75;
		}

		&.left {
			transform: translateX(-50%) scale(0.75);
			filter: blur(5px);
			-webkit-filter: blur(5px);
		}

		&.right {
			transform: translateX(50%) scale(0.75);
			filter: blur(5px);
			-webkit-filter: blur(5px);
		}

	}

}

.galleryna-dots {
	list-style: none;
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	pointer-events: none;
	margin-top: 25px;

	ul {
		margin: 0;
		padding: 0;		
	}

	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;

		button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			outline: none;
			line-height: 0;
			font-size: 0;
			color: transparent;
			padding: 5px;
			cursor: pointer;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: "\2022";
				width: 20px;
				height: 20px;
				font-size: 60px;
				line-height: 20px;
				text-align: center;
				color: #aaa;
				opacity: 0.5;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}

		}

		&.active {
			button {
				&:before {
					opacity: 0.5;
					color: #333;
				}
			}
		}

	}
}

.btnWrapper {
	text-align: center;
	padding: 50px 0;

	.pure-button {
		font-size: 1.25em;
		color: #fff;
		background-color: #aaa;
		font-family: 'Open Sans Condensed', sans-serif;
	}
}